@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@font-face {
    font-family: 'SF Pro Display';
    src: url('/path-to-fonts/SFProDisplay-Regular.woff2') format('woff2'),
         url('/path-to-fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/path-to-fonts/SFProDisplay-Bold.woff2') format('woff2'),
         url('/path-to-fonts/SFProDisplay-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('/path-to-fonts/SFProDisplay-Italic.woff2') format('woff2'),
         url('/path-to-fonts/SFProDisplay-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

::-webkit-scrollbar {
    display: none;
}

@theme {
    --font-DmSans: "DM Sans", sans-serif;
    --font-Nunito: "Nunito Sans", sans-serif;

    /*Folder shadow base shaow*/
    --shadow-folder: 0 0px 77px -26px rgba(0, 0, 0, 0.25); 
}

* {
    box-sizing: border-box;
    font-family: SF Pro Display;
}

body, 
html {
    overflow: hidden;
}